%h4.text-center
  New users per day
= line_chart charts_users_per_day_path
%p

%h4.text-center
  New enrollments per day
= column_chart charts_enrollments_per_day_path
%p

%h4.text-center
  Most enrolled courses
= bar_chart charts_course_popularity_path
%p

%h4.text-center
  Most paid courses
= bar_chart charts_money_makers_path
%p
